
@model List<Product>  


<div class="searchParent row">
    <input oninput="search(event)" class="col-5" type="text" id="searchInput" placeholder="Search...">

    <select id="categoryFilter" class="col-4">
        <option value="">All Categories</option>
        @foreach (var category in (List<Category>)ViewBag.category)
        {
            <option value="@category.CategoryId">@category.CategoryName</option>
        }
    </select>
</div>

<div id="allProduct"></div>


@section scripts {
    <script>
        (function () {
            getAllProduct();
        })();


        $('#categoryFilter').on('change', function () {
            var selectedCategoryId = $(this).val();


            filterProducts(selectedCategoryId);
        });

    </script>
}
@section styles {
    <link rel="stylesheet" href="~/css/getAllProduct.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

}

