@model List<MVC_Project.Models.Product>
<script>
    var favoriteProductsFromLocalStorage = getFavoritesFromLocalStorage();
    console.log("Favorite products from local storage:", favoriteProductsFromLocalStorage);
</script>
<h2>Favorites</h2>

@if (Model != null && Model.Any())
{
    foreach (var product in Model)
    {
        <div>
            <h4>@product.Name</h4>
            <p>@product.Description</p>
        </div>
    }
}
else
{
    <p>No favorite items found.</p>
}


