<div id="product-categories">
    <div class="container">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item p-3">
                <button id="electronics" class="nav-link active">
                    Electronics
                </button>
            </li>
            <li class="nav-item p-3">
                <button id="furniture" class="nav-link">
                    Furniture
                </button>
            </li>
            <li class="nav-item p-3">
                <button id="fashion" class="nav-link">Fashion</button>
            </li>
            <li class="nav-item p-3">
                <button id="groceries" class="nav-link">
                    Groceries
                </button>
            </li>
        </ul>
        <div class="container text-center">
            <div id="row" class="row justify-content-evenly"></div>
        </div>
    </div>
</div>