<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>groco<i class="fas fa-shopping-basket"></i></h3>
            <p3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus est dolores autem, repellendus officia accusantium error tempora aspernatur reiciendis mollitia, quidem quo numquam illum molestias velit eos placeat veritatis tempore.</p3>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="box">
            <h3>Contact</h3>
            <a href="#" class="links"><i class="fas fa-phone"></i>+123-434-324</a>
            <a href="#" class="links"><i class="fas fa-fax"></i>+234-321-432</a>
            <a href="#" class="links"><i class="fas fa-mail"></i>www.google.com</a>
        </div>
        <div class="box">
            <h3>Quick Links</h3>
            <a href="#" class="links"><i class="fas fa-arrow-right"></i>Home</a>
            <a href="./about.html" class="links"><i class="fas fa-arrow-right"></i>Features</a>
            <a href="./contact.html" class="links"><i class="fas fa-arrow-right"></i>Product</a>
            <a href="#" class="links"><i class="fas fa-arrow-right"></i>Review</a>
            <a href="#" class="links"><i class="fas fa-arrow-right"></i>Blogs</a>
        </div>
        <div class="box">
            <h3>NewsLetter</h3>
            <p>Subscribe for latest updates</p>
            <input type="email" placeholder="Your email" class="email">
            <input type="submit" value="subscribe" class="btn">
        </div>
    </div>
    <div class="credit"><span>All right reserved</span></div>
</section>
