<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/details.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    @RenderSection("styles", false)
</head>
<body onload="setCounter()">
    <!-- Navbar Partial View-->
    <partial name="_NavbarPartial" />
    <!-- End Navbar Partial View-->
    <!-- Start of Slider-->
    <div class="">
        <div class="slider-container">
            <div class="slider">
                <div class="slide">
                    <img src="/images/image1.jpg" alt="Image 1" />
                    <div class="slide-title">Welcome To Gaming World</div>
                </div>
                <div class="slide">
                    <img src="/images/image2.jpg" alt="Image 2" />
                    <div class="slide-title">Welcome To Gaming World</div>
                </div>
                <div class="slide">
                    <img src="/images/image3.jpg" alt="Image 3" />
                    <div class="slide-title">Welcome To Gaming World</div>
                </div>
            </div>
            <div class="slider-nav">
                <button class="prev-btn">&larr;</button>
                <button class="next-btn">&rarr;</button>
            </div>
            <br/>
        </div>
    </div>
    <!-- End Of Slider-->
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <!-- Section-->
    @*<partial name="_CategoryIconsPartial" />*@
    <!-- Section-->
    <!-- Cards Partial View-->
    @* <partial name="_CardsPartial" /> *@

    <div>
        <div class="container" >
            @RenderBody()
        </div>
    </div>
    <!-- End Cards Partial View-->
    <!-- Footer Partial View-->
    <partial name="_FooterPartial" />
    <!-- Footer End Partial View-->
    <!-- Bootstrap core-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            ShowAllCartItemFromDBToView();
            
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

