<!-- Navigation-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" asp-controller="Product" asp-action="index">Home</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link" asp-controller="Category" asp-action="addCategory">Add Category</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Product" asp-action="addProduct">Add Product</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Order" asp-action="OrderHistory">Orders History</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Sign Out</a></li>
                    @*<li class="nav-item" style="margin:4px 35px;"><strong>welcome @User.Identity.Name</strong></li>*@

                }
                else
                {
                    <li class="nav-item"><a class="nav-link" asp-controller="account" asp-action="login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="account" asp-action="signUp">Sign Up</a></li>
                }
            </ul>
           
            <div id="cart-sidebar" class="cart-sidebar">
                <div class="cart-header">
                    <h3>Shopping Cart</h3>
                    <button id="close-cart" class="close-cart">&times;</button>
                </div>
                <div id="cartItems" class="cart-items">
                   
                    <partial name="_sidebarItems" />

                </div>
                <div class="cart-footer">
                    <p>Total: $<span id="cart-total">0.00</span></p>
                  
                    <button id="clear-cart" onclick="removeAllCart()" class="btn btn-danger">Clear Cart</button>
                   
                    <a id="order_btn" class="btn btn-danger" onclick="showAllOrders()" asp-action="Index" asp-controller="order"> Order Cart</a>


                </div>
            </div>
           
            <div id="favorite-sidebar" class="favorite-sidebar">
                <div class="favorite-header">
                    <h3>My Favorite</h3>
                    <button id="close-favorite" class="close-favorite">&times;</button>
                </div>
                <div id="favorite-items">
                   
                </div>
                <div class="favorite-footer">
                    <button id="clear-favorite" onclick="removeAllFavorite()" class="btn btn-danger">Clear favorite</button>
                </div>
            </div>
            
            <form class="d-flex">
                @if (User.Identity.IsAuthenticated)
                {
                    <button id="open-cart"
                        onclick="ShowAllCartItemFromDBToView()"
                        class="btn btn-outline-dark" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="counter">0</span>

                    </button>
                }
                else
                {
                    <button id="open-cart"
                            onclick="getAllCartItems()"
                        class="btn btn-outline-dark" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="counter">0</span>

                    </button>
                }
                
                
                <button id="open-favorite" class="btn btn-outline-dark ml-3" type="button" onclick="getAllFavorite()">
                    <i class="bi-heart-fill me-1"></i>
                    Favorite
                    <span id="favorite-counter" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>

        </div>
    </div>
    
</nav>
