
<link href="~/css/styles.css" rel="stylesheet" />

<div class="sidebar-card-item">
    <div class="card">
        <div class="card-body">
            <img src="./image1.jpg" class="card-img-top" alt="Product Image">
            <h5 class="card-title">Product Name</h5>
            <div class="price-rating">
                <p class="card-text product-price">$99.99</p>
                <button class="btn btn-danger">Remove</button>
            </div>
        </div>
    </div>
</div>
